/* LOGIN PAGE */

.Login__bg{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.Login__Content-Box{
    width: 90%;
    height: 100%;
    padding-top: 1.5rem;
    max-width: 1440px;
}
.Login__brand-icon{
    font-size: 2rem;
    color: var(--text-color);
    margin: 0.2em;
}
.Login__brand-name{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--text-color);
    margin: 0.2em;
}
.Login__quote{
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
}
.Login__Author{
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
}
.Login__Hero{
    align-items: center;
}
@media screen and (min-width:768px) {
    .Login__quote{
        width: 50%;
    }
    .Login__Hero{
        padding-right: 4rem;
    }
}
.Login__Box{
    padding: 2rem;
    margin: 1rem;
    min-width: 20rem;
    width: 50%;
    max-width: 25rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.label{
    color: var(--text-color);
    margin-bottom: 5px;
}
.Login__boxHeading{
    color: var(--text-color);
    font-size: 2rem;
    margin: 0.5em;
    font-weight: bold;
}
.input-field{
    background-color: var(--bg-color);
    border-color: var(--border-color);
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 0.2em;
    padding: 1em;
    outline: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.button{
    color: #f8f8f8;
    background-color: var(--primary-color);
    border:0px;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
}

.secondary-button{
    color: #f8f8f8;
    background-color: var(--label-color);
    border:0px;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
}
.checkbox{
    accent-color: var(--secondary-color);
    border-color: var(--border-color);
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5em;
    color: var(--text-color);
    outline: none;
}
.pointer{
    cursor: pointer;
}
.back-icon{
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.2em;
}

.Home__button{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    border: 0px;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
}

.button-icon{
    font-size: 1.5rem;
    margin-right: 0.3em;
    color: inherit;
}
/* HOME */

.Home__Hero{
    margin-top: 1rem;
    background-color: var(--secondary-color);
    width: 100%;
    box-shadow: var(--box-shadow);
    height: 85vh;
}

.overflow-y{
    height: 65vh;
    overflow-y: auto;
}

.Home__user{
    width: 30%;
    border-right: 2px solid var(--border-color);
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.user__button{
    width: 50%;
    height: 3rem;
    border: 0px;
    outline: none;
}

.border-left{
    border-left: 2px solid var(--border-color);
}

.selected-tab{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
}

.un-selected-tab{
    font-size: 1.2rem;
    background-color: var(--border-color);
    color: #222;
}

.group_wrap{
    position: relative;
    height: 90%;
}
.add_group{
    position: absolute;
    cursor: pointer;
    right: 10%;
    bottom: 10%;
    padding: .8em;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.search{
    outline: none;
    width: 90%;
    margin: 5%;
}
.burger-wrap{
    position: absolute;
    right:-15px;
    top: 0px;
    background-color: red;
}

.Home__chat{
    width: 70%;
    height: 100%;
}
.burger-icon{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0.2em;
}


.p-relative{
    position: relative;
}

.user-selector{
    color: var(--text-color);
    cursor: pointer;
    padding: 0.5em;
    padding-left: 1em;
}

.user-selector:hover{
    color: #f8f8f8;
    background-color: var(--primary-color);
}
.fix-hover{
    color: #f8f8f8;
    background-color: var(--primary-color);
}

.user-list-wrap{
    position: absolute;
    background-color: var(--bg-color);
    border-color: var(--border-color);
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--border-color);
    max-height: 200px;
    overflow-y: auto;
}

.user-hover{
    color: inherit;
    transition: none;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.listed-user{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5em 0.8em;
}

.close-icon{
    text-align: right;
    font-size: 1.5rem;
    color: var(--text-color);
}
.text-color{
    color: var(--text-color);
}