@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #6E00FF;
    --secondary-color: #fff;
    --text-color: #000;
    --secondary-text-color: #333;
    --quote-color: #333333b6;
    --bg-color: #fff;
    --label-color: #222;
    --border-color: #b8b8b8;
    --box-shadow: 0 0 2px 5px rgba(210, 208, 208, 0.445);
  }
  
  [data-theme="dark"] {
    --primary-color: #5150FE;
    --secondary-color: #273444;
    --text-color: #e6dddd;
    --secondary-text-color: #948f8f;
    --quote-color: #bbbbbb;
    --bg-color: #1E2E3D;
    --label-color: #696868;
    --border-color: #2e2d2d;
    --box-shadow: none;
  }