.ColorTheme{
    position: absolute;
    cursor: pointer;
    right: 3rem;
    bottom: 3rem;
    padding: .8em;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}
.ColorTheme__icon{
    font-size: 2rem;
    color: var(--text-color);
}

.User{
    border-bottom: 2px solid var(--border-color);
}

.User__avatar{
    padding: 0.2em;
    margin: 0.5em 1em;
    font-size: 2rem;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
    background-color: var(--avatar-bg-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-text-color);
}

.message__avatar{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    padding: 0.2em;
    text-align: center;
    background-color: var(--avatar-bg-color);
    color: var(--text-color);
    border: 0.5px solid var(--secondary-text-color);
}

.User__name{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.User__email{
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    font-weight: 400;
}

.User__admin{
    margin-left: auto;
    padding-right: 1em;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.Home__chat{
    /* width: 70%; */
    height: 100%;
    background-color: var(--secondary-color);
}

.message-input{
    margin: 1em !important;
}
.send-wrap{
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding: 0.5em;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    color: #f3f3f3
}
.send-icon{
    font-size: 1.5rem;
}
.chat-footer-90{
    width: 90%;
}
.chat-hero{
    padding: 0.5em;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
.chat-hero::-webkit-scrollbar{
    display: none;
}

.message__wrap{
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.4em 1.2em;
    border-radius: 1em;
    border-top-left-radius: 0px;
}
.z-ind-neg{
    z-index: -10;
}

.my-message{
    border-top-left-radius: 1em;    
    border-top-right-radius: 0px;
    margin-right: 1em;
    color: #f3f3f3;
    background-color: var(--primary-color);
    border: 1px solid #f3f3f3;
}
.my__avatar{
    color: var(--primary-color);
    background-color: transparent;
    border:1px solid var(--primary-color);
}
.add-border{
    border-bottom: 2px solid var(--border-color);
}
.Loading{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(87,90,91,0.6);
}
.Select_Group-Icon{
    font-size: 7rem;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
}
.Select_Group-text{
    color: var(--secondary-text-color);
}
.Consent__wrap{
    opacity: 1;
    background-color: var(--bg-color);
}
.Consent__Icon{
    font-size: 5rem;
    color: var(--secondary-text-color);
    margin-bottom: 0.5em;
}